*{
    box-sizing: border-box;
    font-family: monospace;
    margin: 0;
   
}

:root{
    --lightblue: #6DE1D2;
    --energetic--yellow: #FFD63A;
    --passion-orange: #FFA955;
    --tomato: #F75A5A;
    --complement-of-yellow: #203E5F;
    --darker-black: #1A2634;
    --notso-energetic-yellow: #EEC550;
}

html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--complement-of-yellow);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*THIS IS THE TASK MENU BAR*/
ul{
    list-style-type: none;
    padding-left: 0;
    /* FUCK IT TOOK YOU 30MIN TO KNOW THAT LIST ALWAYS HAVE A PADDING OF THE LEFT*/
    text-align: center;
    top: 50px;
    width: 1300px; 
}
header:hover{
    position: fixed;
    z-index: 100;
    top: 0px;
}
header{
    position: fixed;
    top: -160px;
    z-index: 100;
    transition: all 700ms ease-in-out 50ms;
}
h1{
    text-shadow: 0 0 0 transparent;
    transition: all 370ms ease-in-out ;
}
li{
    display: inline-block;

    background-color: rgb(114, 178, 255);
    /*width: 411px;*/
    width: 33.3333333333%;
    height: 160px;
    padding-top: 46px;
    font-size: 34px;
    transition: all 400ms ease-in-out;

}
a{
    text-decoration: none;
    color: white;
    transition: color 300ms ease-in-out;

}


li:hover{
    background-color: var(--complement-of-yellow);
}
a:hover, li:hover {
    color: var(--energetic--yellow);
}
a:active{
    
    font-weight: 700;
    color:var(--notso-energetic-yellow);
    transition:all 250ms ease-in-out;
 
}
a:hover h1{
    text-shadow: 0 0 4px var(--lightblue);
}
a:active h1{
   text-shadow: 0 0 7px var(--lightblue);
}
.point{
    text-align: center;
    display: inline-block;
    width: 70px;
    height: 30px;
    background-color: var(--tomato);
    margin-left: 47%;
    font-size: 25px;
    font-weight: 700;
    transition: all 200ms ease-in 25ms;
}
.point:hover{
    background-color: var(--energetic--yellow);
}

/*THIS IS THE END TASK MENU BAR*/
/*================================================================================================================*
/*this is the BANNER section*/
section.INTRO img{
    width: 16vw;
    margin: 1vw 30.4vw 0 0;
}
section.INTRO figure{
    display: flex;
    justify-content: center;
}
h2.top{
    font-size: 28vw;
    text-align: center;
    color: var(--energetic--yellow);
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 0.7em;
    text-shadow: 1px 1px 16px var(--lightblue);
    
}
h2.bottom{
    font-size: 4.3vw;
    text-align: center;
    color: var(--energetic--yellow);
    font-weight: bold;
    letter-spacing: 0.05em;
}
/*================================================================================================================*/
main{
    position: relative;
    top: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column wrap;

}
.PRODUCTS{
    display: flex;
    gap: 8px;
    flex-flow:row wrap;
    justify-content: space-evenly;
    align-content: space-evenly;

}
h2{
    font-size: 12vw;
    text-align: center;
    color: var(--energetic--yellow);
    font-weight: bold;
    letter-spacing: 0.05em;
}
p strong{
    font-size: 61px;
    color: var(--notso-energetic-yellow);
}
p{
    font-size: 49px;
    text-align: justify;
    padding: 1.9em ;
    font-family: sans-serif;
    word-spacing: 1px;
    color: white;
    width: 95%;
    margin-left: 2.5%;
    background-color: var(--darker-black);
    border-radius: 1em;
    line-height: 1.5em;
    text-wrap: break-word;
}
section div.PRODUCT{
    display: inline-block;
    background-color: var(--energetic--yellow);
    margin: 0;
    text-align: center;
    flex: 1 1 49.555555%;
    min-height: 340px;
    
}
div.white_space{
    height: 340px;
}
.PRODUCT h3{
    display: block;
    text-align: center;
    font-size: 91px;
    font-weight: bold;
    padding: 100px 0 0 0;
    margin-bottom: 7px;
    color:var(--lightblue);
}
/*div.PRODUCT.CLASS1 button a:active,
div.PRODUCT.CLASS2 button a:active,
div.PRODUCT.CLASS3 button a:active,
div.PRODUCT.CLASS4 button a:active,
div.PRODUCT.CLASS5 button a:active,
div.PRODUCT.CLASS6 button a:active{
    border-radius: 25px;
    border: var(--energetic--yellow) 3px solid;
    background-color: var(--energetic--yellow);
    color: var(--complement-of-yellow);
}

div.PRODUCT button:hover a{

    color: white;
}
div.PRODUCT button a {
    color: white;
    border: var(--lightblue) 3px solid;
    border-radius: 25px;
    background-color: var(--lightblue);
    width: 15vw;
    height: 55px;
    display: inline-block;
    padding: 1vw 0 0 0;
    font-size: 2vw;
    transition: all 300ms ease-in-out 55ms;
    /*transition: color 200ms ease-in-out 100ms, border 200ms ease-in-out 100ms, background-color 200ms ease-in-out 100ms;*/
section.PRODUCTS button a{
    color: white;
    font-size: 2vw;
}
section.PRODUCTS button:hover{
    background-color: var(--notso-energetic-yellow);
}
section.PRODUCTS button:active{
    background-color: var(--energetic--yellow);
}
section.PRODUCTS button{
    display: inline-block;
    padding: 0;
    margin:0;
    background-color: var(--lightblue);
    border: 0px;
    width: 15vw;
    height: 4.9vw;
    border-radius: 49px;
    transition: all 250ms ease-in-out 55ms;
}
/*THIS THE CUSTIMIZATION OF EACH IDEAS*/
.CLASS1{
    background-image: url(image/GEOTHERMAL.jpg);
    background-size: cover;
    background-position: center;
    background-attachment:local;
    background-repeat: no-repeat;
}
.CLASS2{
    background-image: url(image/NuclearWaste.jpg);
     background-size: cover;
    background-position: center;
    background-attachment:local;
    background-repeat: no-repeat;
}

.CLASS3{
    background-image: url(image/burningcoals.avif);
     background-size: cover;
    background-position: center;
    background-attachment:local;
    background-repeat: no-repeat;
}
/*THIS IS THE FOOTER ELEMENT*/
footer{
    background-color: var(--darker-black);
    height: auto;
    margin-top: 8px;
    position: relative;
    top: 70px;
     padding:3% 0 3% 1.2%;
}

footer h6, footer p, footer a{
    color:white    
}
footer h6{
    font-size: 1.9vw;
}
h3.BRAND_ENDING{
    display: inline;
    font-size: 10vw;
    position: relative;
    color: white;
    line-height: 1vw;
}
.BRAND_ENDING_SECTION{
    display: flex;
    align-items: baseline;

}
footer img{
    height: 13vw;
    margin: 7px 7px 7px 0;
}
hr{
    width: 34%;
    height: 5px;
    background-color: white;

}
