/*header 1 has 1:1 aspect font size/ margin 
p is 1/1.5
 CASCADING EFFECTS IN PPT REMEMBER IT IN YT PLAYLIST
 display: hidden  to make it disappear
 display: none to make it disappear and not take up space
 background-clip: text; to make background image appear in text
  text-fill-color: transparent; to make the text color transparent
  then add gradient background to the text


*/

*{
    font-family: monospace;
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
}
body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--darker-black);
}

div.menu{
    display: flex;
    height: 55vh;
    gap: 10px;

    position:relative;
    width: var(--VIEWER_WIDTH);
    overflow: hidden;
    margin-bottom: var(--white-space);
}
div.menu-item{
    position: absolute;
    top: 0;
    display: flex;
    height: inherit;
    width: calc(var(--VIEWER_WIDTH) / 2);
    position: absolute;
    left: 100%;

    background-color: rgb(0, 0, 0);
    color: var(--set-color-1);


    
    font-size: 100px;
    animation: moving var(--duration_of_each_item) linear infinite;
    
    animation-delay: calc((var(--duration_of_each_item) / var(--number_OF_ITEMS)) * var(--i) * -1);
}





/*===============================MAIN SECTION===========  IT'S MADE UP BY MULTIPLE SLIDES WE CALL FLYER*/
div.flyer{
    width: var(--VIEWER_WIDTH);
    background-color: var(--darker-black);
    transition: background-color 0.3s ease-in-out;
}
    div.flyer{
        height: var(--FLYER-HEIGHT);
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: var(--white-space);
    }

/*====================HEADLINE-FLYER============*/
    div.flyer:has(h1){
        background-color: var(--energetic--yellow);
        background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(26, 38, 52, 1));
        transition: background-color 1.3s ;
        height: calc(var(--FLYER-HEIGHT) + 7vh);
    }
    div.flyer h1{
        font-size: 28vw;
        color: var(--set-color-4);
        font-weight: bold;
        letter-spacing: 0.05em;
        text-align: center;
        text-shadow: 0px 0px 0px var(--lightblue);
        will-change: text-shadow;
        margin-bottom: calc(var(--FLYER-HEIGHT)/3);
    }


/*======================== DIV OF CIRCLE==============================*/

/**=========================ANIMATIONS=========================*/

:root{
    --BANNER_WIDTH: 70vw;
    --VIEWER_WIDTH: 100vw;
    --number_OF_ITEMS: 4;
    --duration_of_each_item: 7s;
    --FLYER-HEIGHT: 49vw;
    --extend_ofdiv: 1;
    --CIRCLE1 : 37vw;
    --lightblue: #6DE1D2;
    --energetic--yellow: #FFD63A;
    --passion-orange: #FFA955;
    --tomato: #F75A5A;
    --complement-of-yellow: #203E5F;
    --darker-black: #1A2634;
    --notso-energetic-yellow: #EEC550;
    --white-space: 25vh;
    --set-color-1: #F9F7F7;
    --set-color-2: #DBE2EF;
    --set-color-3: #3F72AF;
    --set-color-4:  #112D4E;
}