
*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
}
body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--complement-of-yellow);
}
h1, h2, p{
    text-align: center;
       color: white;
}
h1, h2{
    font-family:  var(--header-font);
    
}
p{
    font-family: var(--paragraph-font);
}

/*===============================MAIN SECTION===========  IT'S MADE UP BY MULTIPLE SLIDES WE CALL FLYER*/
header{
    position: relative;
    width: var(--VIEWER_WIDTH);
    height: var(--FLYER-HEIGHT);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--energetic--yellow);
}
video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: 0;
    right: 0;
    top: 0;

}

/*====================HEADLINE-FLYER============*/
.HERO{
    font-size: 7vw;
    font-family: "Bebas Neue", "Permanent Marker";
    color: var(--set-color-1);
    font-weight: bold;
    text-align: center;
    z-index: 99;
    transform: translate(-20%);
    opacity: 0;
    transition: all 2s;
    text-align: center;
}
.HERO.show{
    transform: translate(0);
    opacity: 1;
    text-align: center;
}
.show{
    transform: translate(10px);
    transition: all 700ms ease-in 300ms;
}


section.boder{
    width: 100%;
    height: 55vh;
    transform: scaleY(2);
    z-index: 7;
    background-image: linear-gradient(#ffffff00,#20405f44,#203f5f89,#20405fba,#20405fe8,var(--complement-of-yellow),var(--complement-of-yellow), var(--complement-of-yellow), var(--complement-of-yellow), var(--complement-of-yellow));
}
section.body{
    z-index: 7;
    position: relative;
    background-color: var(--complement-of-yellow);
    div.food_div{
        margin-top: 10vh;
        display: grid;
        grid-template:  1fr 1fr 3fr/ 1fr 1fr;
        > img{
            width: 50%;
            height: auto;
            animation-timeline: view() !important;
            animation-range: 0% 55% !important;
            grid-area: img;
        }
        > p{
            grid-area: para;
            font-family: var(--paragraph-font);
        }
        > h1{
            grid-area: header;
            font-size: 8vw;
            animation: cascade_fade_rotate both;
        }
        > h2{
            grid-area: price;
            font-size: 2vw;
            animation: cascade_fade_rotatetwo both;
        }
        >h1, >h2{
            animation-timeline: view();
            animation-range: 10% 70%;
        }
    }
    div.food_div.left{
        grid-template-areas:"header header"
                            "price price"
                            "img para" ;
        img{
            justify-self: start;
            animation: cascade_fade_rotate both;
        }
    }
    div.food_div.right{
        grid-template-areas:"header header"
                            "price price"
                            "para img" ;
        img{
            justify-self: end;
            animation: cascade_fade_rotatetwo both;
        }
    } 
}

/*=====ANIMATION======*/
@keyframes cascade_fade_rotate {
    0%{
        
        transform: translateY(77px) scale(0.7) rotate(7deg);
        opacity: 0;
    }
    100%{
        transform: translateY(0px) scale(1) rotate(0deg);
        opacity: 1;
    }
}

@keyframes cascade_fade_rotatetwo {
    0%{
        
        transform: translateY(77px) scale(0.7) rotate(-14deg);
        opacity: 0;
    }
    100%{
        transform: translateY(0px) scale(1) rotate(0deg);
        opacity: 1;
    }
 }




/*======================== DIV OF CIRCLE==============================*/



/**=========================ANIMATIONS=========================*/

:root{
    --header-font:"Space Mono", monospace;
    --paragraph-font: "Inter", monospace ;
    --BANNER_WIDTH: 70vw;
    --VIEWER_WIDTH: 100vw;
    --number_OF_ITEMS: 4;
    --duration_of_each_item: 7s;
    --FLYER-HEIGHT: 49vw;
    --extend_ofdiv: 1;
    --CIRCLE1 : 37vw;
    --lightblue: #6DE1D2;
    --energetic--yellow: #FFD63A;
    --passion-orange: #FFA955;
    --tomato: #F75A5A;
    --complement-of-yellow: #203E5F;
    --darker-black: #1A2634;
    --notso-energetic-yellow: #EEC550;
    --white-space: 25vh;
    --set-color-1: #F9F7F7;
    --set-color-2: #DBE2EF;
    --set-color-3: #3F72AF;
    --set-color-4:  #112D4E;
}